.gameLogContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.5%;
}

.gameLog {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: calc(100% - 40px);
  overflow: auto;
  padding: 10px;
}

.gameLogEntry {
  font-family: sans-serif;
  font-size: 12px;
  min-height: 1.1rem;
}

.gameLogEntryError {
  color: red;
}

.gameLogEntryMessage {
  color: blue;
}

.gameLogEntryRequest {
  color: green;
}

.gameLogInput {
  background-color: #5d5d5d;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  height: 30px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.gameLogInput::placeholder {
  color: white;
  opacity: 0.6;
}

@media only screen and (min-width: 992px) {
  .gameLogEntry {
    font-size: 14px;
  }

  .gameLogInput {
    font-size: 14px;
  }
}
