.game {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.topRow {
  display: flex;
  height: 55%;
  justify-content: space-between;
}

.topRowSpectator {
  height: 100vh;
}

.bottomRow {
  display: flex;
  height: 43%;
  justify-content: space-between;
}
