.game {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 20px;
}

.topRow {
  display: flex;
  height: 55%;
  justify-content: space-between;
}

.gameSupply {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 64%;
}

.gameSupplyCard {
  text-align: center;
  margin: 5px;
  width: 10%;
}

.gameSupplyCardImg {
  display: block;
  margin-bottom: 3px;
  object-fit: cover;
  width: 100%;
}

.gameSupplyCardCount {
  font-family: sans-serif;
}

.gameLog {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 10px;
  width: 32%;
}

.gameLogMessage {
  font-family: sans-serif;
}

.bottomRow {
  display: flex;
  height: 43%;
  justify-content: space-between;
}

.gamePlayerHand {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 85%;
}

.gamePlayerHandCardImg {
  display: block;
  margin: 5px;
  object-fit: cover;
  width: 8%;
}

.gameExtras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
}

.gameExtraDetails {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  margin-bottom: 8px;
  padding: 10px;
}

.gamePlayAllTreasuresButton {
  background-color: #5d5d5d;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.gamePlayAllTreasuresButton:hover {
  background-color: #3f3f3f;
}

.gameEndTurnButton {
  background-color: #ef3b3b;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.gameEndTurnButton:hover {
  background-color: #cc2f2f;
}
