.gameSupply {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  width: 65%;
}

.gameSupplyCard {
  text-align: center;
  height: 96px;
  margin: 5px;
  width: 60px;
}

.gameSupplyCardImg:hover {
  transform: scale(2);
}

.gameSupplyCardImg {
  display: block;
  margin-bottom: 3px;
  object-fit: cover;
  width: 100%;
}

.gameSupplyCardCount {
  font-family: sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  .gameSupply {
    padding: 10px;
  }
}

@media only screen and (min-width: 1444px) {
  .gameSupplyCard {
    height: initial;
    width: 10%;
  }
}
