.gameExtras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
}

.gameExtraDetails {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  margin-bottom: 8px;
  padding: 10px;
}

.gameExtrasDeckAndDiscard {
  display: flex;
  justify-content: space-between;
}

.gamePlayAllTreasuresButton {
  background-color: #5d5d5d;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.gamePlayAllTreasuresButton:hover {
  background-color: #3f3f3f;
}

.gameEndTurnButton {
  background-color: #ef3b3b;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.gameEndTurnButton:hover {
  background-color: #cc2f2f;
}
