.gamePlayerHandContainer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 85%;
}

.gamePlayerHand {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
}

.gamePlayerHandCardImg {
  display: block;
  margin: 5px;
  object-fit: cover;
  width: 8%;
}

.gamePlayerHandCardImgSelected {
  opacity: 0.5;
}

.gamePlayerHandButton {
  background-color: #5d5d5d;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  min-width: 180px;
  outline: none;
  padding: 10px 0;
}

.gamePlayerHandButton:hover {
  background-color: #3f3f3f;
}
