body {
  background: url("../../../public/background.png");
  background-size: cover;
  height: 100vh;
}

.login {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  left: 50%;
  width: 260px;
  padding: 120px 60px 120px 60px;
  position: absolute;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
}

.loginHeader {
  border-bottom: 1px solid #5d5d5d;
  color: #5d5d5d;
  font-family: sans-serif;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 80%;
}

.loginInput {
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-sizing: border-box;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 1.1875;
  margin-bottom: 10px;
  outline: none;
  padding: 12px 16px;
  width: 100%;
}

.loginButton {
  background-color: #5d5d5d;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1875;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.loginButton:hover {
  background-color: #3f3f3f;
}
